<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Scraper_Bot</title>
    </head>
{% if user.is_authenticated %}
    <button><a href="{% url 'logout' %}"> Logout </a></button>
{% endif %}

<form method="post">
    {% csrf_token %}
    <br>
    {% if user.username == 'patryk' %}
        {{ add_lotto }}
    {% else %}
        {{ form }}
    {% endif %}
    
    <br>
    <br>
    {{ days }}
    <br>
    <br>
    {{ interval }}
    <input type="submit" value="Submit">
</form>
    <body>
        <h1>Test</h1>
        {% for scrape in name %}

            <h2>{{ scrape }} should be here</h2>
            {% if scrape.cat_1_prize == '0' or scrape.cat_1_prize == None %}
            <h1 style="background-color: powderblue;">{{scrape.estimated_next_jackpot}} Estimated Jackpot</h1> 
            {% else %}
               <h1 style="background-color: rebeccapurple;"> {{scrape.cat_1_prize}}  Jackpot</h1>
            {% endif %}
        {% endfor %}


    </body>